@page
@model BookListRazor.Pages.BookList.CreateModel

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Add a Book</h2>
    </div>
    <div class="col-3">

    </div>
    <div class="col-12 border p-3 mt-3">
        <form>
            <div class="row">
                <div class="col-6">
                </div>
            </div>
        </form>
    </div>
</div>